include README.md
recursive-include seislib *.py *.txt *.pdf *.pyx *.pxd

include seislib/colormaps/*.pdf
include seislib/colormaps/bilbao/*.py
include seislib/colormaps/bilbao/*.txt
include seislib/colormaps/bilbao/CategoricalPalettes/*.py
include seislib/colormaps/bilbao/CategoricalPalettes/*.txt
include seislib/colormaps/bilbao/DiscretePalettes/*.txt
include seislib/colormaps/bukavu/*.py
include seislib/colormaps/bukavu/*.txt
include seislib/colormaps/bukavu/DiscretePalettes/*.txt
include seislib/colormaps/bamako/*.py
include seislib/colormaps/bamako/*.txt
include seislib/colormaps/bamako/CategoricalPalettes/*.py
include seislib/colormaps/bamako/CategoricalPalettes/*.txt
include seislib/colormaps/bamako/DiscretePalettes/*.txt
include seislib/colormaps/turku/*.py
include seislib/colormaps/turku/*.txt
include seislib/colormaps/turku/CategoricalPalettes/*.py
include seislib/colormaps/turku/CategoricalPalettes/*.txt
include seislib/colormaps/turku/DiscretePalettes/*.txt
include seislib/colormaps/acton/*.py
include seislib/colormaps/acton/*.txt
include seislib/colormaps/acton/CategoricalPalettes/*.py
include seislib/colormaps/acton/CategoricalPalettes/*.txt
include seislib/colormaps/acton/DiscretePalettes/*.txt
include seislib/colormaps/tofino/*.py
include seislib/colormaps/tofino/*.txt
include seislib/colormaps/tofino/DiscretePalettes/*.txt
include seislib/colormaps/corkO/*.py
include seislib/colormaps/corkO/*.txt
include seislib/colormaps/corkO/DiscretePalettes/*.txt
include seislib/colormaps/bam/*.py
include seislib/colormaps/bam/*.txt
include seislib/colormaps/bam/DiscretePalettes/*.txt
include seislib/colormaps/grayC/*.py
include seislib/colormaps/grayC/*.txt
include seislib/colormaps/grayC/CategoricalPalettes/*.py
include seislib/colormaps/grayC/CategoricalPalettes/*.txt
include seislib/colormaps/grayC/DiscretePalettes/*.txt
include seislib/colormaps/hawaii/*.py
include seislib/colormaps/hawaii/*.txt
include seislib/colormaps/hawaii/CategoricalPalettes/*.py
include seislib/colormaps/hawaii/CategoricalPalettes/*.txt
include seislib/colormaps/hawaii/DiscretePalettes/*.txt
include seislib/colormaps/roma/*.py
include seislib/colormaps/roma/*.txt
include seislib/colormaps/roma/DiscretePalettes/*.txt
include seislib/colormaps/vikO/*.py
include seislib/colormaps/vikO/*.txt
include seislib/colormaps/vikO/DiscretePalettes/*.txt
include seislib/colormaps/davos/*.py
include seislib/colormaps/davos/*.txt
include seislib/colormaps/davos/CategoricalPalettes/*.py
include seislib/colormaps/davos/CategoricalPalettes/*.txt
include seislib/colormaps/davos/DiscretePalettes/*.txt
include seislib/colormaps/berlin/*.py
include seislib/colormaps/berlin/*.txt
include seislib/colormaps/berlin/DiscretePalettes/*.txt
include seislib/colormaps/nuuk/*.py
include seislib/colormaps/nuuk/*.txt
include seislib/colormaps/nuuk/CategoricalPalettes/*.py
include seislib/colormaps/nuuk/CategoricalPalettes/*.txt
include seislib/colormaps/nuuk/DiscretePalettes/*.txt
include seislib/colormaps/vik/*.py
include seislib/colormaps/vik/*.txt
include seislib/colormaps/vik/DiscretePalettes/*.txt
include seislib/colormaps/devon/*.py
include seislib/colormaps/devon/*.txt
include seislib/colormaps/devon/CategoricalPalettes/*.py
include seislib/colormaps/devon/CategoricalPalettes/*.txt
include seislib/colormaps/devon/DiscretePalettes/*.txt
include seislib/colormaps/batlowW/*.py
include seislib/colormaps/batlowW/*.txt
include seislib/colormaps/batlowW/CategoricalPalettes/*.py
include seislib/colormaps/batlowW/CategoricalPalettes/*.txt
include seislib/colormaps/batlowW/DiscretePalettes/*.txt
include seislib/colormaps/bamO/*.py
include seislib/colormaps/bamO/*.txt
include seislib/colormaps/bamO/DiscretePalettes/*.txt
include seislib/colormaps/imola/*.py
include seislib/colormaps/imola/*.txt
include seislib/colormaps/imola/CategoricalPalettes/*.py
include seislib/colormaps/imola/CategoricalPalettes/*.txt
include seislib/colormaps/imola/DiscretePalettes/*.txt
include seislib/colormaps/vanimo/*.py
include seislib/colormaps/vanimo/*.txt
include seislib/colormaps/vanimo/DiscretePalettes/*.txt
include seislib/colormaps/tokyo/*.py
include seislib/colormaps/tokyo/*.txt
include seislib/colormaps/tokyo/CategoricalPalettes/*.py
include seislib/colormaps/tokyo/CategoricalPalettes/*.txt
include seislib/colormaps/tokyo/DiscretePalettes/*.txt
include seislib/colormaps/buda/*.py
include seislib/colormaps/buda/*.txt
include seislib/colormaps/buda/CategoricalPalettes/*.py
include seislib/colormaps/buda/CategoricalPalettes/*.txt
include seislib/colormaps/buda/DiscretePalettes/*.txt
include seislib/colormaps/oleron/*.py
include seislib/colormaps/oleron/*.txt
include seislib/colormaps/oleron/DiscretePalettes/*.txt
include seislib/colormaps/fes/*.py
include seislib/colormaps/fes/*.txt
include seislib/colormaps/fes/DiscretePalettes/*.txt
include seislib/colormaps/lisbon/*.py
include seislib/colormaps/lisbon/*.txt
include seislib/colormaps/lisbon/DiscretePalettes/*.txt
include seislib/colormaps/lajolla/*.py
include seislib/colormaps/lajolla/*.txt
include seislib/colormaps/lajolla/CategoricalPalettes/*.py
include seislib/colormaps/lajolla/CategoricalPalettes/*.txt
include seislib/colormaps/lajolla/DiscretePalettes/*.txt
include seislib/colormaps/batlow/*.py
include seislib/colormaps/batlow/*.txt
include seislib/colormaps/batlow/CategoricalPalettes/*.py
include seislib/colormaps/batlow/CategoricalPalettes/*.txt
include seislib/colormaps/batlow/DiscretePalettes/*.txt
include seislib/colormaps/+TOOLS/*.py
include seislib/colormaps/batlowK/*.py
include seislib/colormaps/batlowK/*.txt
include seislib/colormaps/batlowK/CategoricalPalettes/*.py
include seislib/colormaps/batlowK/CategoricalPalettes/*.txt
include seislib/colormaps/batlowK/DiscretePalettes/*.txt
include seislib/colormaps/romaO/*.py
include seislib/colormaps/romaO/*.txt
include seislib/colormaps/romaO/DiscretePalettes/*.txt
include seislib/colormaps/brocO/*.py
include seislib/colormaps/brocO/*.txt
include seislib/colormaps/brocO/DiscretePalettes/*.txt
include seislib/colormaps/lapaz/*.py
include seislib/colormaps/lapaz/*.txt
include seislib/colormaps/lapaz/CategoricalPalettes/*.py
include seislib/colormaps/lapaz/CategoricalPalettes/*.txt
include seislib/colormaps/lapaz/DiscretePalettes/*.txt
include seislib/colormaps/broc/*.py
include seislib/colormaps/broc/*.txt
include seislib/colormaps/broc/DiscretePalettes/*.txt
include seislib/colormaps/oslo/*.py
include seislib/colormaps/oslo/*.txt
include seislib/colormaps/oslo/CategoricalPalettes/*.py
include seislib/colormaps/oslo/CategoricalPalettes/*.txt
include seislib/colormaps/oslo/DiscretePalettes/*.txt
include seislib/colormaps/cork/*.py
include seislib/colormaps/cork/*.txt
include seislib/colormaps/cork/DiscretePalettes/*.txt
include seislib/tomography/*.py
include seislib/clib/*.pyx
include seislib/clib/*.pxd
 

